@model XYJPersonalSite.Models.BusinessModels.Blog

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Blog</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
            <label asp-for="CreateTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LikeCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LikeCount" class="form-control" />
                <span asp-validation-for="LikeCount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifyTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifyTime" class="form-control" />
                <span asp-validation-for="ModifyTime" class="text-danger" />
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="PostUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PostUserId" class ="form-control" asp-items="ViewBag.PostUserId"></select>
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="ReadCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReadCount" class="form-control" />
                <span asp-validation-for="ReadCount" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
