@model XYJPersonalSite.Models.BusinessModels.Blog

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Title</h3>

<div>
    <hr />
    <p>@Html.Raw(Model.Content)</p>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
