@model XYJPersonalSite.Models.BusinessViewModels.BlogDetailDTO

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>
<hr />
<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Blog.Id" />
        <input type="hidden" asp-for="Blog.PostUserId"/>
        <div class="form-group">
            <label asp-for="Blog.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Blog.Title" class="form-control none-max-width" />
                <span asp-validation-for="Blog.Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Summary" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea class="form-control none-max-width" rows="4" asp-for="Blog.Summary"></textarea>
                <span asp-validation-for="Blog.Summary" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea class="form-control none-max-width" rows="16" asp-for="Blog.Content"></textarea>
                <span asp-validation-for="Blog.Content" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Blog.TypeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Blog.TypeName" class="form-control" asp-items="ViewBag.BlogTypes"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tags" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tags" class="form-control none-max-width" />
                <span asp-validation-for="Tags" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
