@model IEnumerable<XYJPersonalSite.Models.BusinessModels.Blog>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br/>
<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media">
            <div class="media">
                <div class="media-left">
                    <button class="btn btn-default" aria-label="Left Align" type="button">
                        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </p>
                </div>
            </div>
        </li>
    }
</ul>
