@{
    ViewData["Title"] = "About";
}
<h3>Not finished</h3>
<address>
    <strong>邮箱:</strong> <a href="mailto:xuyongjie1128@hotmail.com">xuyongjie1128@hotmail.com</a><br />
    <strong>微博:</strong> <a href="http://weibo.com/p/1005052476823932/home?is_hot=1" target="_blank">杰哥我说说说</a><br />
    <strong>知乎:</strong> <a href="https://www.zhihu.com/people/xuyongjie1128" target="_blank">Yon杰</a><br />
</address>
